<div class="container mt-5">
  <h1 class="text-center">Angular Component Communication</h1>

  <div class="row mt-5">
    <div class="col-sm-4">
      <a routerLink="/parent-to-child">
        <div class="card border-info mb-3">
          <div class="card-body">
            <h4 class="card-title">@Input</h4>
            <h6 class="card-subtitle mb-2 text-muted">Parent => Child</h6>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <a routerLink="/child-to-parent">
        <div class="card border-info mb-3">
          <div class="card-body">
            <h4 class="card-title">@Output</h4>
            <h6 class="card-subtitle mb-2 text-muted">Child => Parent</h6>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <a routerLink="/siblings">
        <div class="card border-info mb-3">
          <div class="card-body">
            <h4 class="card-title">Event Emmiter & Service</h4>
            <h6 class="card-subtitle mb-2 text-muted">Sibling Components</h6>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
